/* CSS for MathJax equations */

.equation.result.ion {

   padding: 0.5em;

   background-color: #435e7a;
   color: #fff;

   border-radius: 10px 10px;

   text-align: center;

   font-weight: bold;

}

.equation.result.grid {

   padding: 0.5em;

   background-color: #ddd;

   border-radius: 10px 10px;

}