/* CSS for page_pre-teste.html */

.box {

    padding: 0.5em;

}

.content.pos,
.content.pre {

    padding: 0.5em 20%;

    background-color:rgb(160, 183, 206);

}

.test.box {

    background-color: rgb(160, 183, 206);


}

.question.box {

    background-color: #435e7a;
    color: rgb(253, 253, 238);

}

.question.box .text { 

    text-align: justify;

 }

.options.box {

    background-color: rgb(249, 249, 233);
    color: rgb(36, 63, 97);

}

.options.box .input.radio {

    height: fit-content;

}