/* CSS for all the grid configuration */

.grid {

    display: grid;

    grid-template-rows: auto;

}

.content.grid {

    grid-template-columns: 2fr 13fr 1fr 13fr 2fr;

}

.variables.default.grid {
    /* css_general */

    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 4fr 1fr 1fr 4fr 1fr;

}

.variables.note.grid {
    /* css_general */

    grid-template-columns: 1fr;

}

.variables.grid:not(.default):not(.note) {
    /* css_general */
    /* css_variables */

    grid-template-columns: 1fr 2fr 1fr 16fr 1fr;

}

.selector.box.grid {
    /* css_variables */

    grid-template-columns: 5fr 2fr 5fr 2fr 5fr;

}

.equation.nernst.grid {
    /* css_equations */

    grid-template-columns: 8fr 1fr 11fr;

}

.equation.grid:not(.nernst) {
    /* css_equations */

    grid-template-columns: 13fr 1fr 6fr;

}

.equation.result.nernst.grid {
    /* css_equations */

    grid-template-columns: 10fr 1fr 10fr 1fr 10fr;

}

.equation.result.grid:not(.nernst) {
    /* css_equations */

    grid-template-columns: 1fr;

}

.equation.result.goldman.condutivity.grid {
    /* css_equations */

    grid-template-columns: 10fr 1fr 10fr;

}

.question.grid {
    /* css_pptests */

    grid-template-columns: 1fr 18fr 1fr;

}

.answer.grid {
    /* css_pptests */

    grid-template-columns: 1fr 1fr 1fr 16fr 1fr;

}

.option.grid {
    /* css_pptests */

    grid-template-columns: 2fr 1fr 15fr;

}